* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eddeba;
}
.main {
    background-color: #24262b;
    width: 1000px;
    height: 1000px;
    margin-top: 250px;
    margin-right: auto;
    border-radius: 10px;

}
