*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#eddeba;
}
.Search{
width: 700px;
border-radius: 15px;
outline: rgb(65, 65, 101);
border: none;
background-color: rgb(255, 243, 243);
transition: ease 0.5s;
}
.Search:hover{
    background-color: rgb(220, 215, 215);
    transition: ease 0.5s;
}
.brand{
    height: 100px;
    border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;

}
.dropdown-item{
    font-weight: bold;
    color: black;
    transition: ease 0.2s;
}
.dropdown-item:hover{
    color: rgb(184, 183, 183);
}
.icons{
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    transition: ease 0.2s;
    margin: 10px;
    
}
.icons:hover{
    color: rgb(98, 96, 96);
}
.dropdown-menu{
    border-radius: 20px;
border: none;
}
.dropdown-menu {
    width: 100%;
    padding: 0;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
  }
  
  .search-item img {
    width: 30px; /* Adjust as needed */
  }
  
  .clear-history {
    float: right;
  }
  
.navbar-nav{
    margin-right: auto;
}
#searchInput{
    margin: auto;
}
.count{
    position: relative;
    bottom: 33px;
    left: 10px;
    border-radius: 50px;
font-size: 15px;
opacity: 0.6;
background-color: rgb(104, 129, 228);
padding: 2px 5px 2px 10px;
font-weight: bold;
}
.furniture{
    padding: 20px;
}
.imagess{
    text-decoration: none;
    transition: ease 0.5s;
}

.imagess h1{
    font-weight: bold;
    color: black;
    position: relative;
    top: 300px;
    right: 100px;
    transition: ease 0.5s;

}
.imagess h1:hover{
    
    transform:translateX(-5px);
    text-shadow: 23px 2px 12px rgba(0,0,0,0.56);}
    .imagess svg{
        font-weight: bold;
        color: black;
        position: relative;
        top: 300px;
        right: 100px;
        transition: ease 0.5s;
    }
    .imagess svg:hover{
    
        transform:translateX(-5px);
        text-shadow: 23px 2px 12px rgba(0,0,0,0.56);}